<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap-theme.css">
	<link rel="stylesheet" type="text/css" href="css/app.css">
</head>
<body>
	<p class="title" title="<%= title %>"><%= title %></p>

    WIP.

	<!-- 3rd party Dependencies -->
	<script src="vendor/jquery/dist/jquery.js"></script>
	<script src="vendor/underscore/underscore.js"></script>
	<script src="vendor/mousetrap/mousetrap.min.js"></script>
	<script src="vendor/bootstrap/dist/js/bootstrap.js"></script>

	<!-- Other dependencies -->

	<!-- App Initialization -->
	<script src="app.js"></script>

	<script src="bootstrap.js"></script>
</body>
</html>
